body {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #ff989f;
    font-family: "Open Sans", sans-serif;
}

.TitleButton {
  border: 3px solid #000;
  align-items: center;
  background-color: #c20a0a;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  margin: 3px 0;
}

.TitleButton:hover, .TitleButton:focus { 
    
  border: 5px solid #3a0707;
  background-color: #7e1616;
  color: #ffffff;
}

.TitleButton:active {
  border: 5px solid #7e1616;
  background: #3b0909;
  color: rgb(255, 255, 255, .7);
}

.TitleButton:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}



.letter {
    border: 4px solid #000;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 16px;
    width: 110px;
    background: #c20a0a;
    color: #9A9A9A;
    text-align: center;
    transition: border-color 0.3s ease; /* Transition de couleur de bordure */
}

.letter:focus {
    border: 4px solid #000;
    background: #8f0303;
    outline: none;
    color: #FFF;
    box-shadow: #3a0707;
}

img {
    vertical-align: middle; /* Aligne verticalement l'image avec le texte */
    border: 4px solid #000;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 50%;
}
td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    padding: 10px;
}